# Python specific
*.pyc
*.pyo
*.pyd
__pycache__/
*.db
*.sqlite3

# Environment files
.env
.venv/
env/
venv/
ENV/

# Migrations
alembic/
migrations/

# Coverage
.coverage
coverage.xml
htmlcov/

# Pytest
.cache/
nosetests.xml
*.cover

# IDEs
.vscode/
.idea/


# Poetry
poetry.lock
pyproject.toml


# postgres
postgres_data